/* Light mode */
.app {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f0f4f8;
  color: #333;
  min-height: 100vh;
  margin: 0;
}

/* Dark mode */
.dark-mode {
  background-color: #181716;
  color: #f5f5f5;
  min-height: 100vh;
  margin: 0;
}

input {
  padding: 10px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 80%;
  max-width: 300px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #1c0825;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: rgba(20, 16, 15, 0.692);
  margin-top: 10px;
}

.weather-card {
  background-color: #ebbdbd;
  color: #333;
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  width: 350px;
  margin: auto;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.dark-mode .weather-card {
  background-color: #3b3b4f;
  color: white;
}

@media (max-width: 600px) {
  input {
    width: 90%;
  }

  .weather-card {
    width: 90%;
  }
}
